@import "tailwindcss";

@theme {
  --shadow-active: inset 0 0 20px #77f8fc77;
}

body,
html,
#root {
  width: 100vw;
  height: 100vh;
}

* {
  user-select: none;
}
body {
  background: linear-gradient(to bottom, #6c6c6e, #2b3035);
  color: #fefefe;
  overflow: hidden;
}

button {
  cursor: pointer;
}
